<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<h1 class="title"> Product Deleted ! </h1>

<div class= "transaction">
<h2> Here's the transaction receipt </h2>

<h3> <%= transaction_receipt %> 
</div>


<form action="http://localhost:3000/">
    <input type="submit" class="submit" value="Back"/>
</form>
