<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
      <h1 class="title"> Sample Application </h1>
      <!-- Form to add new product  -->   
      <div class="div-1">   
      <form action="http://localhost:3000/addProd" method="post">

      <label for="Form Heading"><h2>Add New Product</h2></label>

      <label for="prodID">Enter Product ID : </label>
      <input
        type="number"
        name="id"
        value="" />
        </p>
      <label for="prodName">Enter Product Name : </label>
      <input
        type="text"
        name="name"
        value="" />
        </p>
      <label>MFD : </label>
      <input
        type="date"
        name="mfd"
        value="" />
        </p>

      <label>EXP : </label>
      <input
        type="date"
        name="exp"
        value="" />
        </p>
      <input type="submit" class="submit" value="Add Product" />
    </form>
  </div>

  <div class="div-2">  

    <!-- Form to update product location -->
      <form action="http://localhost:3000/updateLoc" method="post">
      <label for="Form Heading"><h2>Update Product Location</h2></label>
      <label for="prodID">Enter Product ID : </label>
      <input
        type="number"
        name="id"
        value="EKM" />
        <p></p>
      <label for="prodLoc">Enter Product Location : </label>
      <input
        type="text"
        name="location"
        value="" />
        </p>
      <input type="submit" class="submit" value="Update Location" />
    </form>
</div>

  <div class="div-3">  
    <!-- Form to delete product location -->
      <form action="http://localhost:3000/deleteProd" method="post">
      <label for="Form Heading"><h2>Delete Product</h2></label>
      <label for="prodID">Enter Product ID : </label>
      <input
        type="number"
        name="id"
        value="EKM" />
        <p></p>
      <input type="submit" class="submit" value="delete product" />
    </form>
</div>

<div class="div-3">  
    <!-- Form to view product location -->
    <form action="http://localhost:3000/getDetail" method="post">
      <label for="Form Heading"><h2>Get Product Location</h2></label>
      <label for="locationField">Enter Product ID : </label>
      <input
        type="number"
        name="location"
        value="EKM" />
        <p></p>
      <input type="submit" class="submit" value="Get Location" />

    </form>
</div>

  </body>
</html>
