<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<h3 class="title"> Current Product Location :  <%= product_location %> </h3>
<form action="http://localhost:3000/">
    <input type="submit" class="submit" class="submit" value="Back"/>
</form>