body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.title {
  font-size: 56px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  padding: 10px;

}

.div-1 {
  background-color: #f0f0f0; 
  height: 230px;
  width: 700px;
  padding: 20px;
  color: grey;
  margin: 20px;
  word-wrap: break-word;  
}

.div-2 {
  background-color: #f0f0f0; 
  height: 170px;
  width: 700px;
  padding: 20px;
  color: grey;
  margin: 20px;
}

.div-3 {
  background-color: #f0f0f0; 
  height: 130px;
  width: 700px;
  padding: 20px;
  color: grey;
  margin: 20px;
}

.submit{
  background-color: #b393d3; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.transaction {
  background-color: #e6ffe6; 
  height: 320px;
  width: 700px;
  padding: 20px;
  color: grey;
  margin: 20px;
  word-wrap: break-word;  
}